<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Bella Business Analyst</h1>
<form action="" method="post" name="business">
      {{ form.hidden_tag() }}
      <p>
          Which topic are you interested in?<br>
          {{ form.topic }}
          <br>
      </p>
      <p>
          Group people by: <br>
          {{ form.category }}<br>
      </p>
      <p>{{ form.random }} Random Reviews</p>
      
      <p><input type="submit" value="Go"></p>
      <hr>
      {% for review in reviews %}
          <table>
          <tr valign="top">
            <td>{{review}} <br> </td>
          </tr>
          </table>
      {% endfor %}
      {% for fig in plot_url %}
      Distribution of customers in reviews about selected topic: <br>
         <img src={{fig}} alt="customer distribution">
      {% endfor %}
</form>
{% endblock %}