<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Bella Business Analyst</h1>
<form action="" method="post" name="business">
      {{ form.hidden_tag() }}
      <p>
          What type of product are you interested in?<br>
          {{ form.category }}
          <br>
      </p>
      <p>
          Predict rating of a review: <br>
          {{ form.review(size=30) }}<br>
      </p>
      <hr>
      {% for text in rating %}
          <table>
          <tr valign="top">
            <td>{{ text.rate}} <br> 
          </tr>
          </table>
      {% endfor %}
      <p><input type="submit" value="Go"></p>
      {% for fig in plot_url %}
      Features customers love: <br>
         <img src={{fig}} alt="Features customers love:">
      {% endfor %}
</form>
{% endblock %}